@use 'styles' as *;

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;

  background: $color-main;
}

.container {
  @include container;

  height: $header-height;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
