@use 'styles' as *;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;

  overflow: hidden;

  font-family: $font-Montserrat;
  font-size: 20px;
  color: $color-dark;
  line-height: $line-height;
  font-weight: $fw-medium;

  background: $color-light;
}

a {
  color: inherit;
  text-decoration: none;
  line-height: inherit;
}

button,
input {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: inherit;
}
