@use 'styles' as *;

.wrapper {
  margin-top: $header-height;

  height: 100%;
  max-height: calc(100vh - $header-height);

  overflow: auto;
}

.content {
  @include container;
  display: flex;
  gap: 32px;

  @include md {
    gap: 0;
  }
}

.sidebarWrapper {
  width: 100%;
  max-width: 320px;

  @include md {
    width: 0;
    max-width: 0;
  }
}

.sidebar {
  position: fixed;

  width: 100%;
  max-width: 320px;

  margin-left: -32px;

  box-shadow: 5px 0 5px -5px rgba(2, 0, 96, 0.25);

  @include md {
    position: fixed;
    top: $header-height;
    left: -320px;

    transition: left 0.3s linear;

    &.active {
      left: 0;
    }
  }
}

.main {
  width: 100%;
}
